.header__container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
.other__header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    color: purple;
    letter-spacing: 2px;
}
.other__icon{
    display: flex;
    gap: 1rem;
}
.bar{
    background: red;
    padding: 1px 3px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}